*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkorchid;
}

button{
    margin: 40vh 95vh;
    padding: 1.2rem;
    border: none;
    color: #fff;
    background-color: #5555;
    border-radius: 10px;
    cursor: pointer;
}
    